/* UI colors kit */

:root {
    --white: #ffffff;
    --dark: #333333;
    --transparensy-shadow: #0000001a;
    --transparensy-shadow-disabled: #0000004c;

    --light-grey: #f8f8f8;
    --light-grey-middle: #efefef;
    --light-grey-plus: #ababab;

    --light-blue: #ae8eff;
    --light-blue-plus: #9a72ff;
}

@media screen and (max-width: 1200px) {
    .container .app {
        padding: 40px;
        margin-right: 0;
    }

    .container .app .title .open-menu {
        display: flex;
    }

    .container .favorite {
        display: none;
        z-index: 1;
        transform: scale(0);
    }

    .container .disabled-shadow {
        position: fixed;
        display: none;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--transparensy-shadow-disabled);
    }

    .container .favorite .favorite-title {
        justify-content: end;
    }

    .container .favorite .favorite-title .close-icon {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .container .messages .message-body .message-bottom-info .message-category{
        width: fit-content;
        margin-top: 10px;
    }

    .container .messages .message-body .message-bottom-info{
        display: block;
    }

    .container .messages .message{
        padding: 20px;
    }

    .container .app, .container .favorite {
        padding: 20px;
    }
}
